html, body {
	height: 100%;
	background-color:#F5F5F5;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.wrapper:after {
	content: "";
	display: block;
}
.navbar{
	margin-bottom: 0px !important ;
}
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}